{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load mytags %}
{% block title %}SnapUp - Change Password{% endblock title %}
{% block content %}
    <body style="background-color: #eeeeee">
    <div class="container" style="padding-top: 100px;padding-bottom: 20%">
    {% include 'side_menu.html' %}
                <div class="form-signin col-sm-8">
                    {% if messages %}
                      <ul class="list-unstyled messages">
                      {% for message in messages %}
                        {% get_bootstrap_alert_msg_css_name message.tags as alert_tag %}
                        <center class="alert alert-{{ alert_tag }}">{{ message }}</center>
                      {% endfor %}
                      </ul>
                    {% endif %}
                    <center><h4>Change Your Password</h4></center>
                        <form method="post" action="{% url 'change_password' %}" class="form-signin">
                            {% csrf_token %}
                            <div class="form-group">
                                {% render_field form.old_password class="form-control" placeholder=form.old_password.label %}
                                {{ form.old_password.errors }}
                            </div>
                            <div class="form-group">
                                {% render_field form.new_password1 class="form-control" placeholder=form.new_password1.label %}
                                {{ form.new_password1.errors }}
                            </div>
                            <div class="form-group">
                                {% render_field form.new_password2 class="form-control" placeholder=form.new_password2.label %}
                                {{ form.new_password2.errors }}
                            </div>
                            <div class="form-group">
                                <center><input class="btn btn-lg btn-primary btn-block" type="submit" value="Change Password" /></center>
                                        <input type="hidden" name="next" value="{{ next }}" />
                            </div>
                        </form>
                </div>
    </div>
{% endblock content %}