{% extends 'base.html' %}
{% load staticfiles i18n %}
{% load mytags %}

{% block head %}
  <link href="{% static 'css/signup.css' %}" rel="stylesheet">
    {% block title %}SnapUp - Change Password{% endblock title %}
{% endblock head %}

{% block content %}
<body style="background-color: #eeeeee">
  <div class="container" style="padding-top: 100px">
	    <div class="form-signin">
	        <center>
            <h2>{% trans 'Reset Password' %}</h2></center>
                    {% if messages %}
                      <ul class="list-unstyled messages">
                      {% for message in messages %}
                        {% get_bootstrap_alert_msg_css_name message.tags as alert_tag %}
                        <center class="alert alert-{{ alert_tag }}">{{ message }}</center>
                      {% endfor %}
                      </ul>
                    {% endif %}
                <form action="" method="post" class="form-signin" role="form">
                     {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-lg btn-primary btn-block">{% trans 'Reset' %}</button>
                </form>
        </div>
    </div>
</body>
{% endblock content %}