{% extends 'base.html' %}
{% block title %}SnapUp -  Login{% endblock title %}

{% block content %}
    <body style="background-color: #eeeeee">
             <div class="container" style="padding-top: 150px; padding-bottom: 15%">
                <div class="col-sm-8 col-lg-offset-2">
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <center>Your username and password didn't match. Please try again.</center></div>
                    {% endif %}
                    <center><h2>Please sign in to continue</h2></center>
                        <form method="post" action="{% url 'login' %}" class="form-signin">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.username }}
                                {{ form.username.errors }}
                            </div>
                            <div class="form-group">
                                {{ form.password }}
                                {{ form.password.errors }}
                            </div>
                                <div class="form-group">
                                    <center><input class="btn btn-lg btn-primary btn-block" type="submit" value="login" /></center>
                                    <input type="hidden" name="next" value="{{ next }}" />
                                </div>
                            <div style="clear: both;"></div>
                            <p class="alignleft"><a href="{% url 'forgot' %}">Forgot Password</a></p><p class="alignright">New Member? <a href="{% url 'register' %}">Sign Up</a></p>
                        </form>
                </div>
             </div>
    </body>
{% endblock %}

{% block javascript %}

<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>

{% endblock %}