{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block head %}
  <link href="{% static 'css/signup.css' %}" rel="stylesheet">
    {% block title %}SnapUp - Password Reset{% endblock title %}
{% endblock head %}

{% block content %}
  <body style="background-color: #eeeeee">
  <h1 class="logo"><a href="{% url 'home' %}">Snap Up</a></h1>
  <div class="signup">
    <h2>{% trans 'Password Reset' %}</h2>
    <p>Password Reset Successful, Please Check Your Email for further Instructions.</p>
</div>
  </body>
{% endblock content %}