<div class="col-sm-3">
        <center><h4>Dashboard Control</h4></center>
          <div class="list-group">
              <a href="{% url 'home' %}" class="list-group-item">New Snap Link</a>
              <a href="{% url 'my_snap_links' %}" class="list-group-item">My Snap Links</a>
              <!--<a href="{% url 'dashboard' %}" class="list-group-item">Snap Categories</a>-->
              <a href="{% url 'edit_profile' %}" class="list-group-item">Profile</a>
              <a href="{% url 'change_password' %}" class="list-group-item">Change Password</a>
              <a href="{% url 'logout' %}" class="list-group-item">Sign Out</a>
          </div>
</div>